$background-colour: #303030;
$colour: whitesmoke;

body {
   margin: 20px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: $background-colour;
   color: $colour;
}