$background-colour: #303030;
$colour: whitesmoke;

body {
   margin: 20px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: $background-colour;
   color: $colour;
}

.menu-caption {
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.menu-caption-active {
    font-weight: bold;
    color: steelblue;
}